{{!-- Setup the main.handlebars file so it's able to be used by Handlebars. --}}


<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Creations</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>